.btn_counter{
       width: 50%;
       height: 6vh;
}
.counter{
    margin-left: 30%;
    width: 50%;
}
.box_dark{
    width: 100%;
    height: 40vh;
    background-color: aqua;
}
.box-white{
    width: 100%;
    height: 40vh;
    background-color: white;
}